html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #c8d8c938;
}

.title-name {
    font-size: 2.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 1.5rem 0 0 0;
}

.box-content {
    background-color: rgb(209, 209, 182);
    padding: 1.2rem;
    width: 550px;
    margin: 1.6% auto;
    border: 1px solid;
    text-align: center;
}

.prompt {
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.input-number {
    width: 250px;
    height: 30px;
}

.input-number:hover {
    background-color: rgb(233, 232, 225);
    transition: background-color 0.9s;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.reset-btn,
.erase-btn {
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 22px;
    border: 1px solid black;
    border-radius: 10px;
}

.reset-btn:hover,
.erase-btn:hover {
    background-color: rgb(197, 204, 202);
    transition: background-color 0.2s;
}

.current-grid-square {
    text-align: center;
    
}

.clear-grid-message {
    text-align: center;
    margin-bottom: 22px;
    margin-top: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    background-color: lightgrey;
    margin: auto;
    margin-bottom: 40px;
}

.square {
    border: 1px solid black;
}

footer {
    padding: 17px;
    text-align: center;
    background-color: blanchedalmond;
}